<h1>
  Meeting #<%= @the_meeting.id %> details
</h1>

<article>
  <div>
    <a href="/meetings">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_meeting/<%= @the_meeting.id %>">
      Delete meeting
    </a>
  </div>
  <dl>
    <dt>
      Date
    </dt>
    <dd>
      <%= @the_meeting.date %>
    </dd>

    <dt>
      Time
    </dt>
    <dd>
      <%= @the_meeting.time %>
    </dd>

    <dt>
      Meeting name
    </dt>
    <dd>
      <%= @the_meeting.meeting_name %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_meeting.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_meeting.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit meeting
    </h2>
  </header>

  <form action="/modify_meeting/<%= @the_meeting.id %>"  method="post" >
    <div>
      <label for="date_box">
        Date
      </label>

      <input type="date" id="date_box" name="query_date" value="<%= @the_meeting.date %>">
    </div>

    <div>
      <label for="time_box">
        Time
      </label>

      <input type="time" id="time_box" name="query_time" value="<%= @the_meeting.time %>">
    </div>

    <div>
      <label for="meeting_name_box">
        Meeting name
      </label>

      <input type="text" id="meeting_name_box" name="query_meeting_name" value="<%= @the_meeting.meeting_name %>">
    </div>

    <button type="submit">
      Update meeting
    </button>
  </form>
</article>

<hr>

<article>
  <header>
    <h2>RSVP</h2>
  </header>

  <% if @current_user_rsvp %>
    <p>You are going!</p>
    <a href="/delete_rsvp/<%= @current_user_rsvp.id %>">Cancel RSVP</a>
  <% else %>
    <form action="/insert_rsvp" method="post">
      <input type="hidden" name="query_meeting_id" value="<%= @the_meeting.id %>">
      <input type="hidden" name="query_going" value="true">
      <button type="submit">RSVP</button>
    </form>
  <% end %>

  <h3>Attendees (<%= @list_of_rsvps.count %>)</h3>
  <ul>
    <% @list_of_rsvps.each do |an_rsvp| %>
      <li>User <%= an_rsvp.user_id %></li>
    <% end %>
  </ul>
</article>

<hr>
